body{
  background-image: url('/static/eg_night.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size:cover;

  color: white !important;
  background-color: rgba(0, 0, 0, 0.2);
}

p:not(.loggedInContainer p), h2, li {
  mix-blend-mode: color-dodge;

}
ul{
  list-style-type: disclosure-closed;
}
.feature{
  font-size: 22px;
}
.mainWelcome{
  line-height: 1.4;

}