body{
  background-image: url('/static/eg_night.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size:cover;

  color: white !important;
  background-color: rgba(0, 0, 0, 0.2);
  /* height: 100%; */
  min-height: 100vh;
}

p:not(.loggedInContainer p), h2, li {
  mix-blend-mode: color-dodge;

}
ul{
  list-style-type: disclosure-closed;
}
.feature{
  font-size: 22px;
}
.mainWelcome{
  line-height: 1.4;

}
.flashErrors{
  top: 90% !important;
}


.theHome{
  height: 100%;
}

.linkToAttraction{
  box-shadow: rgba(255, 255, 255, 0.1) -3px 6px 12px 1px;
  border: none;
}
.linkToAttraction:hover{
  scale: 1.05;
  transition: 0.2s;
  color: white !important;
}

@media only screen and (max-width: 768px) {

 body{
  background-position:center !important;

 }

}


@media (max-width:750px) {
  .introduction .mainWelcome{font-size: 34px;}
  .introduction .secondWelcome{font-size: 22px;}
  .introduction .feature{font-size: 14px;}
}

