
.bg-primary {
  background: #008080 !important;
  color: white !important;
}

.navbar-nav {
  font-size: 1.25rem !important;
}

.navbar-brand {
  color: white !important;
  font-size: 1.25rem !important;

}

.navbar-nav .nav-item {
  color: white !important;
}

.navbar-nav .nav-item.active {
  font-weight: 500;
}

body {
  background-color: #FDF8F0 !important;
  color: #006666 !important;
  font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
    /* Use regular variant as the first choice */
}

/* body div a {
  background-color: #FDF8F0 !important;
  color: #006666 !important;
} */


.btn.btn-success,
.btn.btn-danger {
  background-color: #005A5B !important;
  border-color: #006666;
  color: white;
}

body div a:hover {
  color: yellow !important;
}


/* Flash message styles */
.flash {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.flash-success {
  background-color: #d4edda;
  /* Green background for success messages */
  color: #155724;
  /* Dark green text for success messages */
}

.flash-error {
  background-color: #f8d7da;
  /* Red background for error messages */
  color: #721c24;
  /* Dark red text for error messages */
}

.flash-warning {
  background-color: #daec76;
  /* Red background for error messages */
  color: #721c24;
  /* Dark red text for error messages */
}


.dateValidationMessage {
  padding-top: 0.5rem;
  color: red;
}
