* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-tl {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #d6d8d0 ;
  border-radius: 20px;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: #21606F;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content p .cityName {
  font-weight: 700;
}

.timeline-content .date {
  font-weight: bold;
  color: white;

  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
  border: 2px solid #21606F;
  border-radius: 10px;
  padding: 3px 5px;
  border-bottom: none;
}


.no-data-warning{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn.btn-danger.removeButton {
  background-color: #074148  !important;
  border-color: #006666;
  color: white;
}

@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #415a77;
  }

  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(0px);
    border-radius: 0px 20px 20px 20px;
  }

  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #415a77 ;
    top: 0px;
  }

  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -15px;
  }

  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -16px;
  }

  .timeline-content .date {
    font-size: 1rem;
    font-weight: bold;
    /* color: #111; */
    position: absolute;
    top: -21px;
    color: white;
    background-color: #21606F;
  }

  .timeline ul li:hover::before {
    background-color: #2a415b ;
  }
  .timeline-content h1 {
    margin-top: 10px;
  }
}



@media (max-width:750px) {
  .container-tl {
    padding: 50px 0;
  }
  .timeline ul {
    padding-left: 0;

  }

}

