<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <link href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css"  rel="stylesheet" >
    <link rel="stylesheet" href="/static/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Poppins&family=Roboto:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    {% endblock %}


</head>



<body >


<!-- navbar -->

<nav class="navbar navbar-expand-sm navbar-light bg-primary mb-3" id="myCustomNavbar">
    <a class="navbar-brand ms-5 me-4 my-2" href="#">
        EgyptoPedia
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-0" aria-controls="navbar-0" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon">
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-0">
        <div class="navbar-nav">
        <!-- <a class="nav-item nav-link  mx-2" href="/">Home</a> -->
        <a class="nav-item nav-link mx-2" href="/attractions">Attractions</a>
        <a class="nav-item nav-link mx-2" href="/mytrip">My Trip</a>
        </div>



        <div class="navbar-nav ms-auto me-3">
            {%     if current_user.is_authenticated     %}
            <a class="btn btn-success mx-1" href="/logout">Logout</a>
            {% else %}
            <a class="btn btn-success mx-1" href="/register">Register</a>
            <a class="btn btn-success mx-1" href="/login">Login</a>
            {% endif %}
        </div>
    </div>
</nav>


{% block main %}
{% endblock %}



{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
        <div class="flash flash-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}

        </ul>
    {% endif %}
{% endwith %}


{%     if current_user.is_authenticated     %}
<p style="margin-top: 30%; margin-left: 90%;">you're logged in as <b><i>{{current_user.username}}</i></b></p>
{% endif %}




<script src="https://unpkg.com/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>