

{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/home_styles.css">

{% endblock %}




{% block main %}
    <div class="container theHome">




  <div class="row mt-lg-5 mt-sm-2 ">
    <div class="col-8 offset-2 introduction mt-sm-0 mt-lg-2">
      <p class="display-6 mainWelcome mb-4">Welcome to <i>EgyptoPedia</i>  <br> </p>
      <p class="display-6 secondWelcome mb-2">Your gateway to Egypt's captivating attractions and personalized trip planning.</p>

      <ul>
        <li class=" feature mt-5 mb-3">  Explore the wonders of ancient Egypt, from iconic pyramids to the serene Nile River.</>
        <li class=" feature my-3">Create custom itineraries, get expert recommendations, and embark on an unforgettable journey through history and culture.</li>
        
      </ul>
      <h2 class="mt-5 mb-sm-3 mb-lg-4">Start planning your dream trip <i>today</i>!</h2>
      <div class="d-flex justify-content-center">
        <a href="/attractions" class="btn btn-success linkToAttraction"> Visit the attractions page</a>
      </div>
    </div>
  </div>
  


</div>





    {% endblock %}
