

{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/home_styles.css">

{% endblock %}




{% block main %}
    <div class="container theHome">




  <div class="row mt-5">
    <div class="col-8 offset-2 introduction mt-5">
      <p class="display-6 mainWelcome">Welcome to <i>EgyptoPedia</i>  <br> Your gateway to Egypt's captivating attractions and personalized trip planning.</p>

      <ul>
        <li class=" feature mt-5 mb-3">  Explore the wonders of ancient Egypt, from iconic pyramids to the serene Nile River.</>
        <li class=" feature my-3">Create custom itineraries, get expert recommendations, and embark on an unforgettable journey through history and culture.</li>
        
      </ul>
      <h2 class="my-5">Start planning your dream trip <i>today</i>!</h2>
    </div>
  </div>
  


</div>





    {% endblock %}
