{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href>

{% endblock %}

{% block main %}

<div class="container">

  <h2 class="text-center display-6 mt-5">Login to your account  </h2>


  <div class="row">
    <div class="col col-lg-4 offset-lg-4 mt-5">
      <form action="/login" method="POST">
        {{ form.csrf_token }}

        <div class="mb-3">
          <label for="{{ form.username.id }}" class="form-label">Username</label>
          <input type="text" class="form-control" id="{{ form.username.id }}" name="{{ form.username.name }}" autofocus>
        </div>


        <div class="mb-3">
          <label for="{{ form.password.id }}" class="form-label">Password</label>
          <input type="password" class="form-control" id="{{ form.password.id }}" name="{{ form.password.name }}">

        </div>
        <input type="hidden" name="next" value="{{ request.args.get('next', '') }}" />


        <button type="submit" class="btn btn-primary">Login</button>

      </form>


      <div class="my-4">
        <span class="txt1">
          Don’t have an account?
        </span>

        <a class="txt2" href="/register">
          Sign Up
        </a>
      </div>


    </div>
  </div>


</div>


{% endblock %}