{% extends "base.html" %}

{% block title %} Trip Timeline {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/tl_style_v3.css">


{% endblock %}

{% block main %}


<div class="container">
  <div class="row mt-4">
    <h1>My Trip:</h1>
  </div>



<div class="container-tl">
  
  <div class="timeline">
    <ul>
      {% for trip_visit, attraction in data %}

      <li>
        <div class="timeline-content">
          <h3 class="date">{{trip_visit.visit_date}}</h3>
          <h1>{{attraction.name}}</h1>
          <p>{{attraction.city}}</p>
        </div>
      </li>
      {% endfor %}


    </ul>
  </div>
</div>

</div>
{% endblock %}