{% extends "base.html" %}

{% block title %} Trip Timeline {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/tl_style_v3.css">


{% endblock %}

{% block main %}


<div class="container">
  <div class="row mt-4 mb-2">
    <h1>My Trip:</h1>
  </div>



<div class="container-tl">
  {% if not data %}
  <div class="row no-data-warning">
    <div class="col-12">
      <p >You haven't added any destinations to your trip yet,</p>
    <p > Please add them from the <a href="/attractions">attractions</a> page.</p>
    </div>

  </div>
  {% else %}
  
  <div class="timeline">
    <ul>
      {% for trip_visit, attraction in data %}

      <li>
        <div class="timeline-content">
          <h3 class="date">on {{trip_visit.visit_date.strftime('%d-%b-%Y')}}</h3>
          <h1>{{attraction.name}}</h1>
          <p>City: <span class="cityName">{{attraction.city}}</span></p>
          <div class="d-flex justify-content-center"> 
            <form action="/removefromtrip" method="post">
              <input type="hidden" name="trip_visit_id" value="{{trip_visit.id}}">
              <button type="submit" class="btn btn-danger removeButton">Remove</button>
            </form>
          </div>
      </div>
      </li>
      {% endfor %}


    </ul>
  </div>


  {% endif %}

</div>

</div>
{% endblock %}